.react-tabs__tab-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-bottom: none;
    padding-bottom: 30px;
}

.react-tabs__tab{
    border: 1px solid #00103D1F;
    outline: none;
    color: #EF7C00;
    border-radius: 50px;
    padding: 15px;
}

.react-tabs__tab--selected{

}