.swiper {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: left;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #EF7C00; }